.image{
    text-align: center;
    padding-top: 200px;
}

.login{
   text-align: center;
}
h1{
   display: inline-block;
}
.input{
    text-align: center;
   
    
}
.button{
    text-align: center;
    background-color:#0d6efd ;
    margin-left: 750px;
    margin-right: 750px;
}
.a{
    padding-top: 50px;
    text-align: center;
   
}
input{
    font-size: xx-large;
}
button{
    font-size: xx-large;
    color: white;
    background-color:#0d6efd ;
    border: none;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}