* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    width: 375px;
    text-align: center;
    margin: auto;
    margin-top: 150px;
}

.login-span {
    font-weight: normal;
}

.my-app {
    margin: 20px 0;
}

.email {
    display: block;
    width: 100%;
    height: 45px;
}
.password {
    display: block;
    width: 100%;
    height: 45px;
}
.button {
    margin-top: 10px;
    margin-bottom: 30px;
    display: block;
    width: 100%;
    height: 45px;
    background-color: #0d6efd;
    color: white;
    font-size: 20px;
    border: none;
    border-radius: 5px;
}


